.desktop {
    .rt-lunch {
        .lunch-title {
            .duty {
                text-align: right;
            }
        }

        .lunch-header {
            .countdown {
                text-align: right;
            }

            .countdown-left {
                padding-right: 20px;
                font-size: 18px;
                color: #999;
                text-align: right;
                text-transform: uppercase;
            }

            .restaurant {
                .name {
                    padding-left: 5px;

                    .title {
                        font-size: 40px;
                    }

                    .rating {
                        padding-left: 10px;
                    }
                }

                .details {
                    font-size: 18px;
                    color: #999;
                    padding-left: 5px;

                    a {
                        color: #fff;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            .votes {
                padding-top: 14px;
            }
        }

        .lunch {
            margin-top: 40px;

            .toolbar {
                color: #fff;
                text-align: right;

                .toolbar-item {
                    text-transform: uppercase;
                    font-size: 18px;
                    margin-bottom: 20px;
                    padding: 20px;
                    cursor: pointer;
                    display: block;
                    color: #fff;
                    transition: 200ms background;

                    span {
                        vertical-align: middle;
                        padding-right: 20px;
                    }

                    i {
                        font-size: 40px;
                        vertical-align: middle;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        background-color: #fff;
                        color: #222;
                        text-decoration: none;

                        i {
                            color: #222 !important;
                        }
                    }
                }
            }
        }
    }
}
