<div class="modal-letmein">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Let me in!</strong></h3>
    </div>
    <div class="modal-body">
        <div>
            <strong>Didn't get an e-mail?</strong>  That's fine, just give us your details and we'll try to fit you in.
        </div>

        <form>
            <div class="form-group">
                <label>Name <span class="text-muted">(First and Last)</span></label>
                <input class="form-control" type="text" placeholder="Your Name" />
            </div>
            <div class="form-group">
                <label>E-Mail</label>
                <input class="form-control" type="email" placeholder="Your E-Mail Address" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="vm.feedme()">Feed Me</button>
    </div>
</div>
