<div class="modal-favorites">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Fan Favorites</strong> at {{vm.restaurant.name}}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-borderless">
            <tr ng-repeat="fv in vm.favorites">
                <td class="col-xs-1">
                    <button class="btn btn-primary" ng-click="vm.order(fv.order)">Order</button>
                </td>
                <td>
                    {{fv.order}}
                </td>
            </tr>
            <tr ng-show="!vm.favorites || vm.favorites.length === 0">
                <td>
                    <div class="text-muted">No favorites found for {{vm.restaurant.name}}.</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.close()">Close</button>
    </div>
</div>
