<div class="rt-home">
    <div class="section-top text-right">
        <a ng-click="">SCHEDULE</a> &bull; <a ng-click="">HISTORY</a>
    </div>
    <div class="section-splash">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="title">
                        FUNCH
                    </div>

                    <div class="subtitle">
                        Got a hunch about lunch?  What about brunch?<br />What shall we munch, what shall we crunch?
                    </div>

                    <div class="actions" ng-show="!vm.lunch.id">
                        <div class="btn-start" ui-sref="main.create">
                            TAKE ORDERS
                        </div>
                    </div>

                    <div class="feedme" ng-show="vm.lunch.id">
                        <div class="takingorders">
                            Now taking orders for <strong>{{vm.lunchDate}}</strong>... <em>check your e-mail!</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-intro">
        <div class="text-center">
            <div class="subtitle">
                Friday lunches, <acme-malarkey extra-values="['REIMAGINED', 'REVISITED', 'REVITALIZED', 'REJUVINATED']"></acme-malarkey>
            </div>

            <div class="process">
                <div class="step">
                    <div class="step-icon">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="step-name">Start a Lunch</div>
                </div>

                <div class="step-arrow">
                    <i class="fa fa-chevron-right"></i>
                </div>

                <div class="step">
                    <div class="step-icon">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="step-name">Take Orders</div>
                </div>

                <div class="step-arrow">
                    <i class="fa fa-chevron-right"></i>
                </div>

                <div class="step">
                    <div class="step-icon">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="step-name">Enjoy Indefinitely</div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="section-authors">
        A Retrovation by <span>MD</span> <em class="text-muted">(frontend)</em>, <span>JN</span> <em class="text-muted">(backend)</em>, and <span>BS</span> <em class="text-muted">(suggestion analytics)</em>.
    </div>
</div>
