.mobile {
    .rt-create {
        .reset-restaurant {
            text-align: left;
            padding-bottom: 15px;
        }

        .section-actions {
            .prev {
                margin-bottom: 20px;
            }
        }

        .onduty-others {
            margin-top: 50px;
        }

        .tag-item {
            width: 100%;
        }
    }
}
