<div class="modal-guestinvite">
    <div class="modal-header">
        <h3 class="modal-title"><strong>Invite a Guest</strong></h3>
    </div>
    <div class="modal-body">
        <div>
            If someone isn't on the regular invite list, send them an invite below.
        </div>

        <form>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" ng-model="vm.name" />
            </div>
            <div class="form-group">
                <label>Initials</label>
                <input class="form-control" type="text" ng-model="vm.initials" />
            </div>
            <div class="form-group">
                <label>E-Mail</label>
                <input class="form-control" type="text" ng-model="vm.email" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.close()">Close</button>
        <button class="btn btn-primary" type="button" ng-click="vm.invite()">Invite</button>
    </div>
</div>
