<div class="container">
    <div ng-show="!vm.ready">
        <span us-spinner="$root.spinner"></span>
    </div>
    <div class="rt-create" ng-show="vm.ready">
        <ul class="progress-indicator">
            <li ng-class="{'completed': vm.step > 0, 'active': vm.step === 0}">
                <span class="bubble"></span> 1. PASSWORD
            </li>
            <li ng-class="{'completed': vm.step > 1, 'active': vm.step === 1}">
                <span class="bubble"></span> 2. RESTAURANT
            </li>
            <li ng-class="{'completed': vm.step > 2, 'active': vm.step === 2}">
                <span class="bubble"></span> 3. ON DUTY
            </li>
            <li ng-class="{'completed': vm.step > 3, 'active': vm.step === 3}">
                <span class="bubble"></span> 4. ORDER
            </li>
        </ul>

        <div class="form form-dark section" ng-show="vm.step === 0">
            <label class="section-label">What's the password?</label>
            <div class="form-group">
                <div class="section-content">
                    <label>Before you start a lunch session, you need to prove that you work here.</label>
                    <input type="password" class="form-control" ng-model="vm.password" ng-enter="vm.next()" />
                </div>
            </div>
            <div class="section-actions">
                <div class="row">
                    <div class="col-md-12">
                        <div class="next" ng-click="vm.next()">
                            Next
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form form-dark section" ng-show="vm.step === 1">
            <label class="section-label">What's for lunch?</label>
            <div class="form-group">
                <div class="section-content">
                    <div class="quickpicks">
                        <f-restaurant-quickpick ng-repeat="r in vm.restaurants" restaurant="r" active="r.id === vm.restaurant.id" ng-click="vm.pickRestaurant(r)"></f-restaurant-quickpick>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label ng-show="vm.restaurant.id">Sounds delicious!</label>
                            <label ng-show="!vm.restaurant.id">Something else...</label>
                        </div>
                        <div class="col-md-6">
                            <div class="reset-restaurant">
                                <a ng-click="vm.resetRestaurant()" ng-show="vm.restaurant.id">(Nevermind, let's try something new)</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="vm.restaurant.name" placeholder="Restuarant" ng-disabled="vm.restaurant.id">
                            <input type="text" class="form-control" ng-model="vm.restaurant.menu" placeholder="Menu Link">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="vm.restaurant.address" placeholder="Address">
                            <input type="text" class="form-control" ng-model="vm.restaurant.phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" ng-model="vm.restaurant.yelpURL" placeholder="Yelp URL">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="prev" ng-click="vm.prev()">
                            Back
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="next" ng-click="vm.next()">
                            Next
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form form-dark section" ng-show="vm.step === 2">
            <div class="row">
                <div class="col-md-6 onduty-me">
                    <label class="section-label">Who are you?</label>
                    <div class="section-content">
                        <tags-input class="ti-input-lg"
                            ng-model="vm.duty.me"
                            replace-spaces-with-dashes="false"
                            display-property="name"
                            key-property="id"
                            max-tags="1"
                            placeholder="Add Name"
                            add-from-autocomplete-only="true">

                            <auto-complete source="vm.queryUserList($query)" min-length="0"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="col-md-6 onduty-others">
                    <label class="section-label">Who else is on lunch duty?</label>

                    <div class="section-content">
                        <tags-input class="ti-input-lg"
                            ng-model="vm.duty.others"
                            replace-spaces-with-dashes="false"
                            display-property="name"
                            key-property="id"
                            placeholder="Add Name"
                            add-from-autocomplete-only="true">

                            <auto-complete source="vm.queryUserList($query)" min-length="0"></auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>

            <div class="section-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="prev" ng-click="vm.prev()">
                            Back
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="next" ng-click="vm.next()">
                            Next
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form form-dark section" ng-show="vm.step === 3">
            <label class="section-label" for="rest">Order Details</label>

            <div class="form-group">
                <div class="section-content">
                    <label>Order Limit</label>
                    <rzslider rz-slider-model="vm.lunch.limit" rz-slider-options="vm.limit.options"></rzslider>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="section-content">
                            <label>Due Date</label>
                            <input type="text" class="form-control" uib-datepicker-popup="longDate" ng-click="vm.openDate()" ng-model="vm.due.date" is-open="vm.datePopup.opened" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="section-content">
                            <label>Due Time</label>
                            <select class="form-control" ng-model="vm.due.time">
                                <option value="8:30">8:30 AM</option>
                                <option value="8:45">8:45 AM</option>
                                <option value="9:00">9:00 AM</option>
                                <option value="9:15">9:15 AM</option>
                                <option value="9:30">9:30 AM</option>
                                <option value="9:45">9:45 AM</option>
                                <option value="10:00">10:00 AM</option>
                                <option value="10:15">10:15 AM</option>
                                <option value="10:30">10:30 AM</option>
                                <option value="10:45">10:45 AM</option>
                                <option value="11:00">11:00 AM</option>
                                <option value="11:15">11:15 AM</option>
                                <option value="11:30">11:30 AM</option>
                                <option value="11:45">11:45 AM</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="section-content">
                    <label>Notes</label>
                    <textarea ng-model="vm.lunch.notes" class="form-control"></textarea>
                </div>
            </div>
            <div class="section-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="prev" ng-click="vm.prev()">
                            Back
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="next" ng-click="vm.create()">
                            START LUNCH
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
