.rt-create {
    .progress-indicator {
        margin-top: 30px;
    }

    .form {
        padding-top: 40px;

        .form-group {
            margin-bottom: 30px;
        }

        input {
            margin-bottom: 15px;
        }

        textarea {
            height: 100px;
        }
    }

    .section {
        margin: 0 auto;

        .section-label {
            font-size: 25px;
            padding-bottom: 10px;
        }

        .section-content {
            padding: 0;
        }

        .section-actions {
            padding-top: 50px;
            text-align: center;

            .next {
                @extend .btn-brand;
                display: inline-block;
                width: 180px;
                margin: 0 10px;
                padding: 15px;
                border-radius: 30px;
            }

            .prev {
                @extend .btn-secondary;
                display: inline-block;
                width: 180px;
                margin: 0 10px;
                padding: 15px;
                border-radius: 30px;
            }
        }
    }

    .invites {
        max-height: 300px;
        overflow: auto;

        .fa-circle {
            color: #333;
        }

        .invites-person {
            cursor: pointer;
        }
    }

    .reset-restaurant {
        a {
            color: #fff;
            cursor: pointer;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .quickpicks {
        padding: 15px 0 20px 0;
        text-align: center;
    }

    .rzslider .rz-bubble,
    .rzslider .rz-bubble.rz-limit {
        color: white;
        padding: 8px 3px;
    }

    tags-input.ng-invalid {
        border: none;
        box-shadow: none;
    }

    .tags {
        border-radius: 0 !important;
        background: #333 !important;
        color: #fff !important;
        border-color: #4e4e4e !important;

        input {
            margin-bottom: 0;
            background: transparent !important;
            color: #fff !important;
            width: auto !important;
        }

        .tag-item {
            background: #82cc31 !important;
            color: #fff !important;
            height: 42px !important;
            padding: 0 10px !important;
            border: 0 !important;
            line-height: 42px !important;
        }
    }

    .start {
        @extend .btn-brand;

        margin-top: 50px;
        margin-bottom: 100px;
        padding: 30px;
        font-size: 19px;
        border-radius: 50px;
    }
}
