.rt-create {
    .progress-indicator {
        margin-top: 30px;
    }

    .form {
        padding-top: 40px;

        .form-group {
            margin-bottom: 30px;
        }

        input {
            margin-bottom: 15px;
        }

        textarea {
            height: 100px;
        }

        .section {
            margin: 0 auto;
        }

        .reset-restaurant {
            color: #fff;
            cursor: pointer;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }

        .sectionlabel {
            font-size: 25px;
            padding-bottom: 10px;
        }

        .sectioncontent {
            padding: 0;
        }

        .sectionnext {
            padding-top: 50px;
            text-align: center;

            .next {
                @extend .btn-brand;
                display: inline-block;
                width: 180px;
                margin: 0 10px;
                padding: 15px;
                border-radius: 30px;
            }

            .prev {
                @extend .btn-secondary;
                display: inline-block;
                width: 180px;
                margin: 0 10px;
                padding: 15px;
                border-radius: 30px;
            }
        }

        .picks {
            padding: 15px 0 20px 0;
            text-align: center;

            .pick {
                display: inline-block;
                padding: 20px;
                border: 1px solid #999;
                margin-right: 15px;
                margin-bottom: 20px;
                text-align: center;
                color: #999;
                min-width: 150px;
                transition: 200ms background;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    color: #222;
                }

                &.active {
                    background-color: $brand-color !important;
                    border: 1px solid $brand-color !important;
                    color: #fff !important;

                    &:hover {
                        background-color: $brand-color;
                        color: #fff;
                    }
                }
            }
        }

        .rzslider .rz-bubble,
        .rzslider .rz-bubble.rz-limit {
            color: white;
            padding: 8px 3px;
        }

        .invites {
            max-height: 300px;
            overflow: auto;

            .invites-person {
                cursor: pointer;

                .name {
                    color: white;
                }
            }
        }

        .invites-guests {
            padding-left: 30px;

            .invites-guests-more {
                text-align: right;
                color: white;
            }
        }
    }

    .start {
        @extend .btn-brand;

        margin-top: 50px;
        margin-bottom: 100px;
        padding: 30px;
        font-size: 19px;
        border-radius: 50px;
    }
}
