::-webkit-scrollbar {
    width: 8px;
    background-color: #999;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: #999;
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
}
