.mobile {
    .rt-home {
        .section-intro {
            padding: 50px;
        }

        .section-authors {
            text-align: left;
            margin-left: 50px;

            ul {
                padding-top: 15px;
            }
        }
    }
}
